// ------------------------------------------------------------------
// VARIABLES: Z Index
// ------------------------------------------------------------------


$z-media-player:                                100;


$z-media-player__button--border:                101;
$z-media-player__slider--border:                101;


$z-media-player__button--fill:                  102;
$z-media-player__slider--fill:                  102;


$z-media-player__button--inner:                 103;
$z-volume-indicator:                            103;
$z-ui-slider-handle:                            103;
