<header>
  <div class="grid-container">
    <div class="grid-row">
      <div class="col-center col-full col-md-16-24">
        <div class="site-header">
          <div class="site-header__section site-header__section--left">
            <div class="site-header__title">
              <a href="/">{{site.title}}</a>
            </div>
          </div>
          <div class="site-header__section site-header__section--right">
            {% include navigation.html %}
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
