<svg class='svg-hide'>
  <defs>
    <filter id='blur-1/3'>
      <feGaussianBlur stdDeviation='.3'></feGaussianBlur>
    </filter>

    <filter id='blur-1/2'>
      <feGaussianBlur stdDeviation='.5'></feGaussianBlur>
    </filter>

    <filter id='blur-1'>
      <feGaussianBlur stdDeviation='1'></feGaussianBlur>
    </filter>

    <filter id='squiggle-0'>
      <feTurbulence baseFrequency='0.01' id='turbulence' numOctaves='1' result='noise' seed='.2'></feTurbulence>
      <feDisplacementMap id='displacement' in='SourceGraphic' in2='noise' scale='2'></feDisplacementMap>
    </filter>

    <filter id='squiggle-1'>
      <feTurbulence baseFrequency='0.01' id='turbulence' numOctaves='1' result='noise' seed='.4'></feTurbulence>
      <feDisplacementMap in='SourceGraphic' in2='noise' scale='3'></feDisplacementMap>
    </filter>

    <filter id='squiggle-2'>
      <feTurbulence baseFrequency='0.01' id='turbulence' numOctaves='1' result='noise' seed='.6'></feTurbulence>
      <feDisplacementMap in='SourceGraphic' in2='noise' scale='2'></feDisplacementMap>
    </filter>

    <filter id='squiggle-3'>
      <feTurbulence baseFrequency='0.01' id='turbulence' numOctaves='1' result='noise' seed='.8'></feTurbulence>
      <feDisplacementMap in='SourceGraphic' in2='noise' scale='3'></feDisplacementMap>
    </filter>

    <filter id='squiggle-4'>
      <feTurbulence baseFrequency='0.01' id='turbulence' numOctaves='1' result='noise' seed='1'></feTurbulence>
      <feDisplacementMap in='SourceGraphic' in2='noise' scale='1'></feDisplacementMap>
    </filter>
  </defs>
</svg>
