---
layout: frame
---

<main>
  <div class="grid-container">
    <div class="grid-row">
      <div class="col-center col-full col-md-16-24">
        {% include media-player.html %}
      </div>
    </div>
  </div>
</main>

{% for videoItem in site.videos %}

  {% capture moduloPattern %}{{ forloop.index0 | modulo:2 }}{% endcapture %}

  {% if moduloPattern == '0' or forloop.first %}
    <div class="row">
  {% endif %}

    <div class="two-columns">
      {{videoItem.title}}
    </div>

  {% if moduloPattern == '1' or forloop.last %}
    </div>
  {% endif %}

{% endfor %}


<section class="video-collection" data-js: "video-collection">
  <div class="grid-container">
    <div class="grid-row">
      <div class="col-center col-24-24 col-md-16-24">
      </div>
    <div>
  </div>
</section>
