---
layout: frame
---

<main>
  <div class="grid-container">
    <div class="grid-row">
      <div class="col-center col-full col-md-16-24">
        {% include media-player.html %}
      </div>
    </div>
  </div>
</main>

<section class="video-collection" data-js="video-collection">
  <div class="grid-container">
    <div class="grid-row">
      <div class="col-center col-full col-md-16-24">
        {% for videoItem in site.videos reversed %}

          {% capture moduloPattern %}{{ forloop.index0 | modulo:2 }}{% endcapture %}

          {% if moduloPattern == '0' or forloop.first %}
            <div class="grid-row">
          {% endif %}

            <div class="col-12-24 col-md-8-16">
              <div class="video-item" data-js="video-item" data-marquee-title="{{videoItem.title}} -- {{videoItem.location}} -- {{videoItem.date | date: '%B, %Y'}}" data-mp4-src="assets/videos/{{videoItem.title | slugify}}">
                {% capture videoImgPath %}videos/{{videoItem.title | slugify}}.png{% endcapture %}
                <div class="video-item__img" style="background-image: url({{ videoImgPath | asset_path }})">
                  <div class="video-item__overlay">
                    <div class="video-item__cta" data-js="video-item__cta">
                      play
                    </div>
                    <div class="video-item__title">
                      {{videoItem.title}}
                    </div>
                  </div>
                </div>
              </div>
            </div>

          {% if moduloPattern == '1' or forloop.last %}
            </div>
          {% endif %}

        {% endfor %}
      </div>
    </div>
  </div>
</section>
